<header class="header">
    <div class="container">
        <nav class="nav__content admin-nav-content">
            <a href="{{ url_for('admin.dashboard') }}" class="nav__logo admin-logo">
                Mackkas
            </a>

            <div class="nav__actions admin-actions">
                <a href="{{ url_for('main.profile_page') }}" class="nav__icon" aria-label="Account">
                    <iconify-icon icon="lucide:user"></iconify-icon>
                </a>
            </div>
        </nav>
    </div>
</header>
